<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="client.js"></script>
    <title>Document</title>
    <style>
      .box {
        background-color: lightpink;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="task" placeholder="Enter a task" v-on:keyup.enter="addTodo()">
      <h1>{{ message }}</h1>
      <h1>Todos</h1>
      <div v-for="todo in todos">
        <button v-on:click="completeTodo(todo)">COMPLETE</button>
        <p>{{ todo }}</p>
      </div>
      <h1>Completed</h1>
      <div v-for="todo in completed">
        <p>{{ todo }}</p>
      </div>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          message: "Hello Vue!",
          todos: ["sweep", "mop", "clean", "run"],
          completed: ["yaaaaaaa"], 
          task: ''
        },
        methods: {
          addTodo() {
            this.todos.push(this.task)
            this.task = ''
            // write your todo code here
            // push a todo
          },
          completeTodo(val) {
            // you want to add to the completed array whilst removing from the todos array
            console.log(val, "---------------");
            this.todos = this.todos.filter(todo => todo !== val);
            this.completed.push(val)
          }
        }
      });
    </script>
  </body>
</html>