<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Vue Testing 2</title>
  </head>
  <body>
    <div id="app">
      <h1>{{ message }}</h1>
      <input
        type="text"
        placeholder="To do..."
        v-model="task"
        v-on:keyup.enter="addTodo()"
      />
      <div v-for="todo in todos">
        <input
          type="checkbox"
          onchange="this.checked = !this.checked"
          v-on:click="completeTodo(todo)"
        />
        <button v-on:click="deleteTodo(todo)">Delete TODO</button>
        <p>
          {{ todo }}
        </p>
      </div>
      <h1>Completed</h1>
      <div v-for="todo in completed">
        <p>{{ todo }}</p>
      </div>
      <button v-on:click="callSwapi('hair_color')">Get hair color</button>
      <ul v-for="data in starWarsData">
        <li>{{ data }}</li>
      </ul>
      <ul v-for="human in humans">
        <li>{{ human.hair_color }}</li>
      </ul>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          message: "Things TO DO!",
          todos: [],
          task: "",
          completed: [],
          starWarsData: {},
          humans: []
        },
        methods: {
          addTodo() {
            this.todos.push(this.task);
            this.task = "";
          },
          deleteTodo(val) {
            // this.todos.shift(this.task);
            // this.task = "";
            this.todos = this.todos.filter(todo => todo !== val);
          },
          completeTodo(val) {
            this.todos = this.todos.filter(todo => todo !== val);
            this.completed.push(val);
          },
          callSwapi(section) {
            fetch("https://swapi.co/api/${section}/").then(resp => {
              resp.json().then(data => {
                this.starWarsData = data.results;
              });
            });
          }
        },
        mounted() {
          fetch("https://swapi.co/api/people/").then(resp => {
            resp.json().then(data => {
              this.humans = data.results;
            });
          });
        }
      });
    </script>
  </body>
</html>

<!---->
