<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      console.log("I am a human");
    </script>
    <title>RECIPE CALCULATOR</title>
    <style>
      .blue {
        color: blue;
      }

      .red {
        color: red;
        font: outline;
        font-size: 15px;
      }

      .square {
        border: 20px solid chocolate;
        height: 0px;
        width: 3px;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <!-- <div class="square" v-on:click="attack()"></div> -->
      <p>Let's get started!!</p>
      <h1>I'm here to calculate your ingredients.</h1>
      <!-- <h2>My age is {{ age }}, and my ranking is {{ rank }}</h2>
        <h2>Ogre age is twice my age so it is {{ age * 2 }}</h2> -->
      <h2 class="blue">{{ message }}</h2>
      <h2 class="red">{{ note }}</h2>
      <button v-on:click="lemonCC()">Lemon Cheesecake</button>
      <button v-on:click="attack2()">Oreo Cheesecake</button>
      <input type="text" v-model="quantity" name="" id="" />
      <label
        ><input type="checkbox" v-model="checkedNames" /> Vegan but with
        egg</label
      >
      <label><input type="radio" /> Vegan</label>
      <button>Choose</button>

      <h3>Cream cheese : {{ myMoney }}</h3>
      <h3>Sugar : {{ ogre1Money }}</h3>
      <h3>Condensed Milk: {{ ogre2Money }}</h3>
      <h3>Milk : {{ ogre1Hp }}</h3>
      <h3>Graham Biscuits : {{ ogre2Hp }}</h3>
      <h3>CheckedNames : {{ checkedNames }}</h3>

      <h4>Feel free to type in your extra ingredient {{ myName }}</h4>
      <input type="text" v-model="myName" v-on:keyup.enter="handleEnter" />
      <h4 v-for="(friend,index) in friend">{{ friend }}</h4>
      <form action="attack()"></form>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          message: `Prepare these ingredients if you are making: `,
          note: `(Liquid measurement is measured by ml, solid / powder is measured by gram)`,
          creamCheese: 300,
          milk: 300,
          ogre2Hp: 2000,
          myMoney: 1000,
          ogre1Money: 200,
          ogre2Money: 300,
          myName: "",
          friend: [],
          quantity: "",
          veganOrNotVegan: true,
          checkedNames: []
        },

        methods: {
          attackNow() {
            console.log("ATTACK NOWWWW");
          },
          attack() {
            console.log("ATTACK");
            console.log(this.ogre1Hp);
            this.ogre1Hp = this.ogre1Hp - 20;
          },
          attack2() {
            console.log("ATTACK");
            console.log(this.ogre1Hp);
            this.ogre2Hp = this.ogre2Hp - 15;
          },

          steal() {
            console.log("STEAL");
            this.myMoney = this.myMoney + 10;
            this.ogre1Money = this.ogre1Money - 10;
          },
          steal2() {
            console.log("STEAL");
            this.myMoney = this.myMoney + 20;
            this.ogre2Money = this.ogre2Money - 20;
          },

          handleEnter() {
            this.friend.push(this.myName);
          }

          // lemonCC( ) {
          //     console.log(this.)

          // }
        }
      });
    </script>
  </body>
</html>
